default_language_version:
  python: python3
repos:
- repo: https://github.com/psf/black
  rev: 26.1.0
  hooks:
  - id: black
    args: ["-l", "119", "-t", "py311"]
    require_serial: true
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: debug-statements
- repo: http://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    additional_dependencies:
    - types-PyYAML
    - types-requests
