[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "==4.0.1"
black = "==24.3.0"
pytest = "==7.4.3"

[packages]
redis = "==5.0.0"
gunicorn = "==22.0.0"
flask-session = "==0.5.0"
py-healthcheck = "==1.10.1"
prometheus-client = "==0.17.1"
python3-saml = "==1.16.0"
flask = "==3.1.0"
async-timeout = "==5.0.1"
pyyaml = "==6.0.2"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
