[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"
pre-commit = "*"

[packages]
flask-cookie-decode = "*"
Flask = "*"
python3-saml = "*"
flask-session = "==0.3.2"
redis = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
