server {
    listen       $NGINX_PORT default_server;
    server_name  $NGINX_SERVER_NAME;
    $NGINX_SSL_CONFIG
    include      api_conf.d/*.conf;
    set          ${VAR}proxy_host ${VAR}http_x_rh_insights_forwarded_host;

    if (${VAR}proxy_host = "") {
        set ${VAR}proxy_host ${VAR}host;
    }

    location /_nginx/ {
        return 200 "OK";
    }

    location = /auth/ {
        internal;

        proxy_pass              $FLASK_SERVICE_URL;
        proxy_pass_request_body off;
        proxy_set_header        Content-Length "";
        proxy_set_header        referer ${VAR}http_referer;
        proxy_set_header        X-Original-URI ${VAR}request_uri;
        proxy_set_header        X-Real-IP ${VAR}remote_addr;
        proxy_set_header        X-Forwarded-Host ${VAR}proxy_host;
        proxy_set_header        X-Forwarded-For ${VAR}proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Port 443;
        proxy_set_header        X-Forwarded-Proto https;
    }

    location /saml/ {
        proxy_pass              $FLASK_SERVICE_URL;
        proxy_set_header        X-Original-URI ${VAR}request_uri;
        proxy_set_header        X-Real-IP ${VAR}remote_addr;
        proxy_set_header        X-Forwarded-Host ${VAR}proxy_host;
        proxy_set_header        X-Forwarded-For ${VAR}proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Port 443;
        proxy_set_header        X-Forwarded-Proto https;
    }

    error_page 401 = @error401;
    location @error401 {
        return 302 ${VAR}scheme://${VAR}proxy_host${VAR}login_url;
    }
}
