    location ~ {{ route }}(.*)$ {
        resolver {{ resolver }} valid=30s;
        set $upstream  {{ origin }};
        auth_request     /auth/;
        auth_request_set $login_url $upstream_http_login_url;
        {% for header in headers %}
        auth_request_set $turnpike_{{ header.lower().replace("-", "_") }} $upstream_http_{{ header.lower().replace("-", "_") }};
        {% endfor %}
        proxy_pass              $upstream$1;
        proxy_set_header        X-Original-URI $request_uri;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-Host $proxy_host;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Port 443;
        proxy_set_header        X-Forwarded-Proto https;
        {% for header in headers %}
        proxy_set_header        {{ header }} $turnpike_{{ header.lower().replace("-", "_") }};
        {% endfor %}
    }
